name: python

on:
  workflow_dispatch:
  pull_request:
    branches:
      '**'
    paths-ignore:
      - 'docs/**'
      - 'blogs/**'
  merge_group:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    strategy:
      matrix:
        pyVersion: ["3.10", "3.11", "3.12"]
      fail-fast: false

    runs-on: ubuntu-24.04
    container:
      image: python:${{ matrix.pyVersion }}-slim

    steps:
        - uses: actions/checkout@v4

        - name: Install build dependencies
          run: |
            apt-get update && apt-get install -y build-essential ninja-build
        - name: environment
          run: |
            which python
            python --version
        - name: Install PyTorch (CPU)
          run: |
            pip install torch --index-url https://download.pytorch.org/whl/cpu
        - name: Install deepspeed
          run: |
            pip install .
        - name: DS Report
          run: |
             ds_report
